# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a


# Cmake
CMakeFiles/
Makefile
*.cmake
CMakeCache.txt

# You Complete Me
*.pyc
